.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.title {
    margin-bottom: 20px !important;
}

.paragraph {
    font-size: 16px;
}
