.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
    width: 100%;
    padding: 20px;
    padding-top: 60px;
}

.searchContainer {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    text-align: center;
    margin-bottom: 20px !important;
}

.textarea {
    font-size: 16px;
}

.hints {
    margin-top: -8px;
    margin-bottom: 8px;
}

.hintsLabel {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

.hintsList {
    margin: 0;
    padding-left: 20px;
    list-style-type: disc;
}

.hintsList li {
    margin-bottom: 4px;
}

.hintText {
    font-size: 13px;
    font-style: italic;
}

.searchButton {
    margin-top: 8px;
}

